@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: url("/bg.jpg");
  display: flex;
  justify-content: center;
  height: 100vh;
  color: white;

}

.container {
  margin-top: 30px;
  width: 90vw;
  height: 90vh;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}

.css-1cntdmb-MuiContainer-root {
  max-width: 100% !important;
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
  color: #f9f9f9 !important;
  opacity: 0.9;

  &::placeholder {
    color: #f9f9f9 !important;
  }
}
.css-113d811-MuiFormLabel-root-MuiInputLabel-root{
  color: #f9f9f9 !important;
}